<!DOCTYPE html>
<html>
<head>
<style>
  *{
      margin: 0;
      padding: 0;
    }
    body{
     height: 100vh;
     width: 100%;
      background-image: url('https://images.unsplash.com/photo-1575178980687-a490cbee951f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');
    }
    .text{
      color: white;
      top:20%;
      left: 3%;
      position: absolute;
      font-size: 28px;
    }

</style>
</head>
<body>
{{>navbar}}
<div class="text">
<br>
An outdoor fern plant is perfect for the shady woodland garden and we have the largest hardy<br>
 ferns collection in the world. We offer many exotic varieties (sun ferns, rare ferns) and the<br>
 best North American native ferns, most grown from our own nursery- and garden-collected spores<br>
</div>

</body>
</html>
