<!DOCTYPE html>
<html lang="en">

<style>
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: grey;
    }
    img{
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        font-size: 36px;
    }
</style>
<body>
    {{>navbar}}

<img src="http://reviewsic.files.wordpress.com/2011/01/under-construction-sign-for-web.gif">
</body>
</html>